.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.map {
  width: 270px;
  height: 270px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #c0c0c0;
}

.cell {
  border: solid 1px black;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign {
  width: 30px;
  height: 30px;
  background: url('~/assets/images/icons.png') no-repeat;
}
